@import url(https://fonts.googleapis.com/css?family=Didact+Gothic);

html {
    min-width: 600px;
}

body {
    
    background: url(../images/small-business-budgeting.jpg) no-repeat center center fixed;
    background-size: cover;
}

header {
    background-color: #231F1F;
    margin: -10 -10 0 -10;
    padding: 0 0 10 0;
}

.header-consistent {
    color: #fff;
}

@font-face {
    font-family: OstrichMediumBold;
    src: url(../fonts/OstrichSans-Bold.otf);
}

@font-face {
    font-family: OstrichHeavy;
    src: url(../fonts/OstrichSans-Heavy.otf);
}

header .header-consistent {
    margin: 0 auto;
    width: 600px;
    text-align: center;
}

h1 {
    font-family: "OstrichMediumBold";
    font-size: 100px;
}

h2 {
    font-family: "Didact Gothic";
}

article {
    background-color: rgba(34,30,30,0.88);
    width: 522px;
    height: 656px;
    border-radius: 14px;
    margin:auto;
    margin-top: 65px;
    overflow: auto;
}

#input_box {
    background-color: #D1D2D4;
    height:58px;
    width:390px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}

#input_box h2 {
    margin-left: 6px;
    font-size: 38px;
    color: #29733A;
}

button {
    background: #255933;
    -webkit-border-radius: 14;
    -moz-border-radius: 14;
    border-radius: 14px;
    font-family: "Didact Gothic";
    color: #ffffff;
    font-size: 38px;
    padding: 3px 20px 10px 20px;
    margin-top: 35px;
    margin-left: 172px;
    text-decoration: none;
}

button a, button a:hover {
    color: #fff;
    text-decoration: none;
}

button:hover {
    background: #2E6D3D;
    text-decoration: none;
}

#already_member {
    font-family: "Didact Gothic";
    color: #28733A;
    text-align: right;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #44A859;
}

a:hover {
    text-decoration: underline;
}

#login_landing {
    height: 370px;
}

#login_button {
    margin-left: 202px;
}









































