@import url(https://fonts.googleapis.com/css?family=Didact+Gothic);

@font-face {
    font-family: OstrichMediumBold;
    src: url(../fonts/OstrichSans-Bold.otf);
}

@font-face {
    font-family: OstrichHeavy;
    src: url(../fonts/OstrichSans-Heavy.otf);
}

html {
    min-width: 1150px;
}

body {
    background: linear-gradient(#265934, #fff);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* BEGIN HEADER STYLING SECTION */

header {
    background-color: #231F1F;
    margin: -10 -8 0 -8;
    padding-bottom: -20px;
}


#site-id {
    font-family: "OstrichMediumBold";
    display: inline-block;
    font-size: 100px;
    color: #fff;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: -35px;
}

.header-link {
    font-family: "Didact Gothic";
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

.header-link:hover {
    color: #27733B;
}

.header-link:active {
    color: #27733B;
}

.nav-link {
    font-size: 24px;
    margin: 0 40;
}

.current {
    color:  #27733B;
}

#profile-options {
    position: absolute;
    top: -5;
    right: 30;
    color: #fff;
    font-family: "Dicact Gothic";
}

#options-gear {
    width: 25px;
    height: 25px;
    position: relative;
    left: 15px;
    top: 7px;
}

.inline-block {
    display: inline-block;
}

/* END HEADER STYLING SECTION */

/* BEGIN MAIN CONTENT STYLING SECTION */

h2 {
    font-family: "Didact Gothic";
}

#main-content {
    background: linear-gradient(#255933, #fff) fixed;
    margin: 0px -8px 20px -8px;
    padding-top: 5px;
    padding-bottom: 0px;
}

#tip-stuff {
    width: 900px;
    margin: 0 auto;
}

#tips-options {
    font-family: "OstrichHeavy";
    width: 300px;
    text-align: center;
    display: inline-block;
}

#tips-options ul{
    list-style: none;
}

.collapse-arrow {
    position: relative;
    top: -4;
    font-size: 12px;
}

.option {
    color: #fff;
    background-color: rgba(35,31,31,0.88);
    padding: 15px 40px 15px 40px;
}

.option:hover {
    background-color: #231F1F;
    cursor: pointer;
}

.top-option {
    font-size: 24px;
    border-top-left-radius: 30px;
}

.selected-option {
    background-color: #231F1F;
}

.bottom-option {
    font-size: 24px;
    border-bottom-left-radius: 30px;
}

.sub-option {
    font-size: 20px;
}

.option-header {
    font-size: 24px;
}

#tip-section {
    display: inline-block;
    background-color: #231F1F;
    color: #fff;
    font-family: "Didact Gothic";
    font-size: 20px;
    height: 650px;
    position: relative;
    top: -372px;
    left: -4px;
    border-radius: 0 30px 30px 30px;
    margin-bottom: -300px;
}

#trax-section{
   display: inline-block;
    background-color: #231F1F;
    color: #fff;
    font-family: "Didact Gothic";
    font-size: 20px;
    height: 650px;
    position: relative;
    top: -625px;
    left: 300px;
    border-radius: 0 30px 30px 30px;
    margin-bottom: -300px; 
}

#tip-header {
    position: relative;
    top: -156px;
    margin: 0 25px 0 80px;
}

#tip-body {
    position: relative;
    margin: 0 80px 0 0;
    width: 250px;
}

#trax-header{
    position: relative;
    top: 20px;
    left: 170px;
    margin: 0 25px 0 80px;
}

#trax-body{
    position: relative;
    width: 600px;
    height: 500px;
    left: 40px;
    top: 50px;
    margin: 0 80px 0 0;
    border-radius: 30px 30px 30px 30px;
}

#tip-section p {
    display: inline-block;
/*    margin: 0 40px;*/
    padding: 40px 0px;
}

.form-title {
    font-family: "OstrichHeavy";
    color: #fff;
    font-size: 30px;
    padding: 30px 0px 0px 40px;
}

form {
    background-color: #231F1F;
    border-radius: 20px;
    padding-bottom: 5px;
    width: 1200px;
    margin: 20px auto;
}

.checkbox {
    margin-left: 40px;
}

.form-label {
    position: relative;
    top: -1px;
    font-family: "Didact Gothic";
    color: #fff;
    margin-bottom: 20px;
}

.form-sub-category {
    margin-left: 40px;
    padding-bottom: 40px;
}

.sub-header {
    margin-left: 30px;
}

#budget {
    color: #fff;
    background-color: #211D1D;
    width: 400px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 14px;
    text-align: center;
}

#budget hr {
    margin-top: -35px;
    margin-bottom: 25px;
    border: none;
    height: 3px;
    color:#fff;
    background-color: #fff;
}

#budget h1 {
    font-family: "OstrichHeavy";
    font-size: 40px;
}

#budget table {
    color: #fff;
    font-family: "Didact Gothic";
    font-size: 30px;
    text-align: left;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
}

.money {
    text-align: right;
    
}

#expanded_budget {
    background-color: #211D1D;
    width: 1000px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 14px;
    text-align: center;
    margin-bottom: 221px;
}

#expanded_budget_headers{
    width: 765px;
    text-align: left;
    padding-top: 5px;
}

#expanded_budget h3{
    color: #fff;
    font-family: "OstrichHeavy";
    font-size: 20px;
    display: inline;
    margin-left: 200px;
}

#expanded_budget h3:first-child {
    margin-left: 50px;
}

#expanded_budget p{
    color: #fff;
    font-family: "Didact Gothic";
    font-size: 36px;
    display: inline;
    margin-left: 150px;
}

#expanded_budget #first_row p:first-child{
    margin-left: 20px;
}

#expanded_budget #first_row {
    width: 1000px;
}

#first_button {
    margin-left: 120px;
}

#expanded_budget #second_row p:first-child{
    margin-left: 18px;
}

#expanded_budget #second_row {
    width: 1000px;
}

#second_money {
    padding-left: 6px;
}

#second_button {
    margin-left: 143px;
}

#expanded_budget button {
    background: #255933;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    border: none;
    font-family: "Didact Gothic";
    color: #ffffff;
    font-size: 28px;
    padding: 0px 15px 3px 15px;
    text-decoration: none;
    width: 100px;
}

#expanded_budget button a, button a:hover {
    color: #fff;
    text-decoration: none;
}

#expanded_budget button:hover {
    background: #2E6D3D;
    text-decoration: none;
}

#expanded_budget hr {
    border: none;
    height: 2px;
    color:#fff;
    background-color: #fff;
}

.divider {
    width: 960px;
}

#add_button {
    margin-left: 874px;
}

article {
    background-color: rgba(34,30,30,0.88);
    width: 522px;
    height: 550px;
    border-radius: 14px;
    margin:auto;
    margin-top: 65px;
    margin-bottom: 349px;
    overflow: auto;
}

#input_box {
    background-color: #D1D2D4;
    height:58px;
    width:390px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}

#input_box h2 {
    margin-left: 6px;
    font-size: 38px;
    color: #29733A;
}

article button {
    background: #255933;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    border: none;
    font-family: "Didact Gothic";
    color: #ffffff;
    font-size: 38px;
    padding: 3px 20px 10px 20px;
    margin-top: 35px;
    margin-left: 172px;
    text-decoration: none;
}

article button a, button a:hover {
    color: #fff;
    text-decoration: none;
}

article button:hover {
    background: #2E6D3D;
    text-decoration: none;
}

#already_member {
    font-family: "Didact Gothic";
    color: #28733A;
    text-align: right;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #44A859;
}

a:hover {
    text-decoration: underline;
}

#list_headers {
    font-family: "OstrichHeavy";
    font-size: 20px;
    color: #fff;
    margin-top: -200px;
}

#list_headers h1 {
    background-color: #211D1D;
    padding: 15px;
    padding-left: 60px;
    padding-right: 60px;
    width: 65px;
    border-radius: 14px;
}

#list_headers #needs {
    margin-left: 667px;
    padding-bottom: 30px;
}

#list_headers #need_header {
    margin-top: -40px;
    padding-right: 100px;
    padding-left: 100px;
    margin-left: 425px;
}

#list_headers #subscriptions_header {
    margin-left: 667px;
    padding-bottom: 30px;
    background: #28733A;
    width: 130px;
}


#list_headers #wants  {
    margin-top: -18px;
    padding-right: 100px;
    padding-left: 100px;
    margin-left: 425px;
    color: #28733A;
    background-color: #fff;
}

#list_headers #subscriptions  {
    margin-top: -18px;
    padding-right: 100px;
    padding-left: 100px;
    margin-left: 425px;
    background-color: #28733A;
}

#subscriptions a {
    margin-left: -38px;
    color: #fff;
}

#wants a {
    margin-left: -5px;
}

#wants a:hover{
    text-decoration: none;
    color: #2E6D3D;
}

#subscriptions a:hover {
    text-decoration: none;
    color: #B7B7B7;
}

#need_header a {
    text-decoration: none;
    color: #fff;
}

#need_header a:hover {
    text-decoration: none;
    color: #B7B7B7;
}

#subscriptions_list {
    background-color: #28733A;
    margin-top: -250px;
    margin-left: 667px;
    width: 780px;
    margin-bottom: 0px;
}

#subscriptions table {
    color: #fff;
    font-family: "Didact Gothic";
    font-size: 30px;
    text-align: left;
    width: 740px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    line-height: 50px
}

#need_list {
    background-color: #211D1D;
    margin-top: -250px;
    margin-left: 667px;
    width: 780px;
    margin-bottom: 0px;
}

#need_list table {
    color: #fff;
    font-family: "Didact Gothic";
    font-size: 30px;
    text-align: left;
    width: 740px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    line-height: 50px
}

#need_list hr {
    border: none;
    height: 3px;
    color:#fff;
    background-color: #fff;
    margin-bottom: 20px;
    margin-top: -66px;
    margin-bottom: 116px;
    width: 740px;
}

#subscriptions_list hr {
    border: none;
    height: 3px;
    color:#fff;
    background-color: #fff;
    margin-bottom: 20px;
    margin-top: -66px;
    margin-bottom: 116px;
    width: 740px;
}

#list_total {
    font-family: "Didact Gothic";
    font-size: 27px;
    margin-left: 1270px;
    margin-top: -20px;
    margin-bottom: 254px;
}

#list_headers #wants_header {
    margin-left: 667px;
    padding-bottom: 30px;
    color: #28733A;
    background-color: #fff;
}

#wants_list {
    background-color: #fff;
    margin-top: -250px;
    margin-left: 667px;
    width: 780px;
    margin-bottom: 0px;
}

#wants_list table {
    color: #28733A;
    font-family: "Didact Gothic";
    font-size: 30px;
    text-align: left;
    width: 620px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    line-height: 50px
}

#wants_list hr {
    border: none;
    height: 3px;
    color:#28733A;
    background-color: #28733A;
    margin-bottom: 20px;
    margin-top: -66px;
    margin-bottom: 116px;
    width: 620px;
}

#add_dropdown {
    font-family: "Didact Gothic";
    font-size: 30px;
    color: #28733A;
    width:390px;
}

#dropdown_label {
    font-family: "Didact Gothic";
    font-size: 38px;
    color: #fff;
    margin-bottom: 5px
}

#category {
    width: 390px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5px;
}

#radios {
    font-family: "Didact Gothic";
    font-size: 30px;
    color: #fff;
    width: 390px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}

.pin {
    font-family: "Didact Gothic";
    font-size: 20px;
    color: #fff;
}

.pin_input_box {
    width: 300px;
    margin-left: 25px;
}

.pin:first-child {
    width: 27px;
    margin-left: auto;
    margin-right: auto;
}

#confirm {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
    

#input_pin {
    width: 380px;
    margin-left: auto;
    margin-right: auto;
}

#con_but {
    margin-bottom: 20px;
    width: 100px;
    font-family: "Didact Gothic";
    font-size: 20px;
    border-radius: 14px;
    padding-bottom: 5px;
    color:#fff;
    background-color: #28733A;
    cursor:pointer;
    margin-left: 160px;
    margin-bottom: 40px;
}

#con_but a {
    color:#fff;
}

#pin-title {
    font-family: "OstrichHeavy";
    color: #fff;
    font-size: 30px;
    padding: 30px 0px 0px 40px;
}











/* END MAIN CONTENT STYLING SECTION */

/* BEGIN FOOTER STYLING SECTION */

footer {
/*    position: absolute;*/
    
    margin: 0 -8;
    color: #fff;
    background-color: #231F1F;
}

footer p {
    font-family: "Didact Gothic";
    font-size: 18px;
    text-align: center;
    width: 300px;
    margin: 0 auto;
    padding: 10px 0px;
}

/* END FOOTER STYLING SECTION */
