@import url(https://fonts.googleapis.com/css?family=Didact+Gothic);

@font-face {
    font-family: OstrichMediumBold;
    src: url(../fonts/OstrichSans-Bold.otf);
}

@font-face {
    font-family: OstrichHeavy;
    src: url(../fonts/OstrichSans-Heavy.otf);
}

html {
    min-width: 1740px;
}

body {
    background: linear-gradient(#265934, #fff);
}

/* BEGIN HEADER STYLING SECTION */

header {
    background-color: #231F1F;
    margin: -10 -8 0 -8;
    padding-bottom: -20px;
}


#site-id {
    font-family: "OstrichMediumBold";
    display: inline-block;
    font-size: 100px;
    color: #fff;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: -35px;
}

.header-link {
    font-family: "Didact Gothic";
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

.header-link:hover {
    color: #27733B;
}

.header-link:active {
    color: #27733B;
}

.nav-link {
    font-size: 24px;
    margin: 0 40;
}

#profile-options {
    position: absolute;
    top: -5;
    right: 30;
    color: #fff;
    font-family: "Dicact Gothic";
}

#options-gear {
    width: 25px;
    height: 25px;
    position: relative;
    left: 15px;
    top: 7px;
}

.inline-block {
    display: inline-block;
}

/* END HEADER STYLING SECTION */

/* BEGIN MAIN CONTENT STYLING SECTION */

h2 {
    font-family: "Didact Gothic";
}

#main-content {
    background: linear-gradient(#255933, #fff) fixed;
    margin: 0 -8 -20 -8;
    padding-top: 5px;
    padding-bottom: 125px;
}

#tip-stuff {
    width: 900px;
    margin: 0 auto;
}

#tips-options {
    font-family: "OstrichHeavy";
    width: 300px;
    text-align: center;
    display: inline-block;
}

#tips-options ul{
    list-style: none;
}

.collapse-arrow {
    position: relative;
    top: -4;
    font-size: 12px;
}

.option {
    color: #fff;
    background-color: rgba(35,31,31,0.88);
    padding: 15px 40px 15px 40px;
}

.option:hover {
    background-color: #231F1F;
    cursor: pointer;
}

.top-option {
    font-size: 24px;
    border-top-left-radius: 30px;
}

.bottom-option {
    font-size: 24px;
    border-bottom-left-radius: 30px;
    background-color: #231F1F;
}

.sub-option {
    font-size: 20px;
}

#tip-section {
    display: inline-block;
    background-color: #231F1F;
    color: #fff;
    font-family: "Didact Gothic";
    font-size: 20px;
    height: 500px;
    position: relative;
    top: -150px;
    left: -4px;
    
    border-radius: 0 30px 30px 30px;
}

#tip-header {
    position: relative;
    top: -156px;
    margin: 0 25px 0 80px;
}

#tip-body {
    position: relative;
    margin: 0 80px 0 0;
    width: 250px;
}

#tip-section p {
    display: inline-block;
/*    margin: 0 40px;*/
    padding: 40px 0px;
}

#form-title {
    font-family: "OstrichHeavy";
    color: #fff;
    font-size: 30px;
    padding: 30px 0px 0px 40px;
}

form {
    background-color: #231F1F;
    border-radius: 20px;
    width: 1200px;
    margin: 20px auto;
}

.checkbox {
    margin-left: 40px;
}

.form-label {
    position: relative;
    top: -1px;
    font-family: "Didact Gothic";
    color: #fff;
    margin-bottom: 20px;
}

.form-sub-category {
    margin-left: 40px;
    padding-bottom: 40px;
}

/* END MAIN CONTENT STYLING SECTION */

/* BEGIN FOOTER STYLING SECTION */

footer {
/*    position: absolute;*/
    
    margin: 0 -8;
    color: #fff;
    background-color: #231F1F;
}

footer p {
    font-family: "Didact Gothic";
    font-size: 18px;
    text-align: center;
    width: 300px;
    margin: 0 auto;
    padding: 10px 0px;
}

/* END FOOTER STYLING SECTION */
