@import url(https://fonts.googleapis.com/css?family=Didact+Gothic);

@font-face {
    font-family: OstrichMediumBold;
    src: url(../fonts/OstrichSans-Bold.otf);
}

@font-face {
    font-family: OstrichHeavy;
    src: url(../fonts/OstrichSans-Heavy.otf);
}

html{
    background: linear-gradient(#265934, #fff);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.menu{
    position:relative;
    list-style: none;
    opacity: .88;
    border-radius: 20px 0px 0px 20px;
    margin-right: 1700px;
    left: 530px;
    top: 6px;
    font-family: "OstrichHeavy";
    width: 300px;
    height: 150px;
    
}

.menu a{
    position: relative;
    color:#fff;
    font-size: 20pt;    
}

.active{
    color: #231f1f !important;
    background-color: #fff;
}

.option {
    color: #231f1f !important;
    background-color: #fff !important;
}
.mid{
    color: #fff;
    background-color: #231f1f;
    padding: 15px 15px 15px 10px;
    right: 15px;
}

.bottom{
    position:relative;
    border-bottom-left-radius: 20px !important;
    padding: 15px 44px 15px 10px;
    top: 75px !important;
    right: 15px;
}

.top-option {
    font-size: 20px;
    border-top-left-radius: 20px !important;
    right: 15px;
    top: 15px;
}

.mid-option{
    top: 45px;
    background-color:#231f1f;
    width: 100px !important;
    font-size: 20px;
}

.mid-option:hover{
    background-color:#fff;
    color:#231f1f;
    cursor: pointer;
}

#Content{
    position:relative;
    background-color: #231f1f;
    border-radius: 0px 20px 20px 20px;
    height: 400px;
    opacity: .88;
    color: #FFF;
    display: block;
    text-indent: 100px;
    width: 800px;
    left: 700px;
    bottom: 164px;
}

#Content h2{
    position:relative;
    top: 20px;
}

footer{
    position: relative;
    top: 206px;
}